@tailwind base;
@tailwind components;
@tailwind utilities;
/* 20.12.25 */
@layer components {
  .label {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }

  .input {
    @apply w-full px-3 py-2 border rounded-md focus:ring-2 focus:ring-blue-500;
  }

  .input-readonly {
    @apply w-full px-3 py-2 border rounded-md bg-gray-100 text-gray-700;
  }
}
